<blockquote>
    <h4> Gifs em Destaque </h4>
</blockquote>
<div class="container">
    <div class="row">
        <div class="card col s3">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="assets/images/elliot.jpg">
            </div>
        </div>
        <div class="card col s3">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="assets/images/elliot.jpg">
            </div>
        </div>
        <div class="card col s3">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="assets/images/elliot.jpg">
            </div>
        </div>
        <div class="card col s3">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="assets/images/elliot.jpg">
            </div>
        </div>
    </div>
</div>


<style>
blockquote {
    margin-left: 1em;
}
</style>