<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo">
      <img src="assets/images/logo-blue.svg" alt="">
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a routerLink="upload">
          <div style="text-align:center">
            <fa-icon [icon]="faCloudUploadAlt" size="lg"></fa-icon>
            Your Gif
          </div>
        </a>
      </li>
      <li>
        <a routerLink="create">
          <div style="text-align:center">
            <fa-icon [icon]="faPlus" size="lg"></fa-icon>
            Create
          </div>
        </a>
      </li>
    </ul>
  </div>
</nav>